<h3>Update Question</h3>

<!-- <form (ngSubmit)="onSubmit()"> -->
<form>
    
// Due to the nature of Jeopardy, questions and answers are used incorrectly internally. 
// This will be corrected in a future update
<div class="form-group">
    <!-- <label>Question (ie: Square)</label> -->
    <label>Answer (ie: This shape has 4 sides)</label>
    <input type="text" class="form-control" [(ngModel)] = "question.question" id="question" name="question">
</div>

<div class="form-group">
    <!-- <label>Answer (ie: This shape has 4 sides)</label> -->
    <label>Question (ie: Square)</label>
    <input type="text" class="form-control" [(ngModel)] = "question.answer" id="answer" name="answer">
</div>

<div class="form-group">
    <label>Beginning</label>
    <select class="form-control" [(ngModel)]="Beginning" id="beginningMenu" name="beginningMenu">
        <option *ngFor="let beginning of beginnings" [ngValue]="beginning">{{beginning}}</option>
    </select>
    
    <label>Value</label>
    <select class="form-control" [(ngModel)]="Value" id="valueMenu" name="valueMenu">
        <option *ngFor="let value of values" [ngValue]="value">{{value}}</option>
    </select>

    <label>Question Type</label>
    <select class="form-control" (change)="changeType($event)" [(ngModel)]="Type" id="typeMenu" name="typeMenu">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
    </select>

    <fieldset [disabled]="isDisabled">
        <div class="form-group">
            <label>Media Source</label>
            <input type="text" class="form-control" [(ngModel)] = "question.questionSource" id="questionSource" name="questionSource">
        </div>
    </fieldset>
</div>

<!-- <button class="btn btn-success" type="submit">Submit</button> -->
</form>

<div>
    <button class="btn btn-success" (click)="saveQuestion()">Submit</button>
    <button class="btn btn-danger" (click)="goToDeveloper()">Go Back</button>
</div>