<h1>Daily Double!</h1>
@if(!proceed){
    <h2>What Is Your Wager?</h2>
    {{status}}
    <div>
        <p>Min: {{minVal}} </p>
        <p>Max: {{maxVal}}</p>
    </div>
    <mat-form-field>
        <input type="number" matInput [(ngModel)]="wager" (keyup.enter)="checkWager()">
    </mat-form-field>
}
@else{
    <div class="textSpace">
        @if(timerService.countDown() >= 0){
            {{timerService.countDown()}}
        }
        <mat-dialog-content>
            {{ data2.data.question }}
        </mat-dialog-content>
        @if(guessFlag == true){
            
        
            @if(!correctGuess && !revealFlag){
                <p>{{ data2.data.beginning }}</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="answer" (keyup)="keyPress2($event)" (keyup.enter)="checkAnswer()">
                </mat-form-field>
            }

        
            @else if(correctGuess){
                <p>Correct!</p>
            }
            @else{
                <p>Correct Answer is:</p>
                <p>{{ data2.data.answer }}</p>
            }

    }
    </div>
        
}
