<div id="welcome">
    <div>
        <h1>This is</h1>
        <h1>JEOPARDY!</h1>
        <h2>Version {{versionNum}}</h2>
        <!-- <svg src="C:\Users\junyu\my-app\src\app\images\test.svg" alt="Test Image"></svg> -->
        @if(isPlay){
            <button id="play_btn" (click)="isPlay = false">Let's Play!</button>
            <button class="extra_btn" (click)="goToSettings()">Settings</button>   
            <button class="extra_btn" (click)="goToDeveloper()">Developer Interface</button>
            <button class="extra_btn" (click)="goToDeveloper2()">Board Editor</button>
        }
        @else{
            <p>How many players are playing today?</p>
            <button mat-button mat-dialog-close (click)="openDialog(1)">One</button>
            <button mat-button mat-dialog-close (click)="openDialog(2)">Two</button>
            <button mat-button mat-dialog-close (click)="openDialog(3)">Three</button>
        }
    </div>
</div>