.columns{
    /*justify-content: space-between;*/
    display: inline-flex;
    /*width: 30%;*/
}

.final{
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: white;
}

.question{
    font-size: 32px;
}

#category{
    color: goldenrod;
}

button{
    font-size: 26px;
    font-weight: bold;
}

.side-by-side{
    display: inline-flex;
    width: 25%;
    text-align: center;
}